{{ define "main" }}
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}
    {{ $pag := .Paginate ($filtered) }}

    <section class="article-list">
        {{ $list := slice }}
        {{ range $pag.Pages }}
        {{ $weight := or .Params.weight 9999 }}
        {{ $ts := .Lastmod.Unix }}
        {{ $rev := sub 9999999999 $ts }}
        {{ $key := printf "%04d-%010d" $weight $rev }}
        {{ $list = $list | append (dict "page" . "key" $key) }}
        {{ end }}

        {{ $sorted := sort $list "key" "asc" }}

{{ $pages := slice }}
{{ range $sorted }}
  {{ $pages = $pages | append .page }}
{{ end }}

        {{ range $index, $element := $pages }}
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
